# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
- List popular languages for Data Science
- List popular Tools for Data Science
- List popular libraries for Data Science

## Author: 
Raphael Sonntag

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Seaborn
3. Matplotlib

| Data Science Tools | 
| ------ | 
| GoogleColab |
| JupyterNotebook |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335